# VS Code 
.vscode/

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# applet
applet/

#mongoose
mongoose-free-6-9.exe

#test python
humble-steam-key-redeemer-main
.humblecookies
error.log
humble_export_20220116-211605.csv
package.json
package-lock.json
